
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


body{
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat';
    font-weight: 500;
}
h1,h2{
    font-family: 'Fraunces';
    font-weight: 700;
}
